

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Album</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  
  
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Bilet Antalya'ya Hoşgeldiniz!</h1>
          <p class="lead text-muted">Bilet mi? <br> Bilet Antalya</p>
          <p>
            <a href="#" class="btn btn-primary my-2">buton 1 </a>
            <a href="#" class="btn btn-secondary my-2">buton 2</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="card" *ngFor="let ticket of tickets;index as i" [index]="i+1">
            
            <img class="resim" alt="yüklenemedi" [src]="ticket.iconUrl">
    
            <div class="başlık">
              {{ticket.id}}. {{ticket.description}}
            </div>
            <div class="açıklama">
             {{ticket.longDescription}}
            </div>
            <button class="btn btn-primary" class="button1" value="↓" (click)="div1Function()">
              İncele!
            </button>
              <div *ngIf="div1">
                <div>Varsa TC kimlik no giriniz:</div>
                <br> Normal Fiyat:{{ticket.fiyat}}$ <br> <br>
                <!-- eğer var denirse tc kimliği kontrol et ve geçerliyse yerel fiyar bastır değilse turist fiyatı
                tc her halükarda alınabilir zaten uyumluluğu kontrol ediliyor ve var yok'a bakılıyor -->
                <app-tcno></app-tcno>
                <app-fiyat></app-fiyat>
                <app-payment>[fiyat]="ticket.fiyat"</app-payment>
                
                <button class="button2" value="CLOSE" style="width:11cm ;" (click)="div2Function()">↑ CLOSE ↑</button>
                       <br><br>
            
              </div>
          </div>


          </div>
        </div>
  
  
      
  


